@media screen and (max-width: 900px) {
    .backgroundImg {
        display: none;
    }
}

@media screen and (max-width: 375px) {
    h1 {
        font-size: 24px;
    }

    h5 {
        font-size: 14px;
        margin: -7px 0 0 0;
    }

    .card {
        width: 300px;
        height: 150px;
    }

    .links {
        margin-top: 20px;
    }
}