@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #326FB5;
    font-size: 36px;
    margin: 0;
}

h5 {
    color: #999;
    font-weight: 300;
    font-size: 18px;
    margin: -10px 0 0px 0px;
}

.links {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

a:link {
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    margin: 0;
    padding: 0;
    line-height: 1.35;
}

a:link:hover {
    color: #326FB5;
}

a:visited {
    color: #326FB5;
}

.pageWrap {
    height: 100vh;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.backgroundImg {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.backgroundImg img {
    height: 400px;
    position: absolute;
    bottom: 0;
    left: 50px;
}

.card {
    box-shadow: 3px 3px 10px 3px rgb(0 0 0 / 10%);
    width: 350px;
    height: 210px;
    box-sizing: border-box;
    padding: 10px 30px;
    z-index: 1;
}

a#eMail::before {
    content: "\f199";
    font-family: "fontawesome";
    margin-right: 10px;
    font-size: 14px;
    color: #326FB5;
}

a#linkedIn::before {
    content: "\f08c";
    font-family: "fontawesome";
    margin-right: 10px;
    font-size: 14px;
    color: #326FB5;
}

a#github::before {
    content: "\f092";
    font-family: "fontawesome";
    margin-right: 10px;
    font-size: 14px;
    color: #326FB5;
}